.piano-controls {
    /* border-top: 2px solid var(--primary-violet-lighter); */
    width: 100%;
    /* background-color: #11111a5b; */
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 5px 1rem;
}

.control-panel-cont {
    position: relative;
}

/* .control-panel-cont:nth-of-type() */

.control-panel {
    appearance: none;
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.control-panel-pic {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.control-panel-pic:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 221, 236, 0.15);
    /* background-color: var(--primary-violet-lighter); */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.control-panel-pic:hover {
    cursor: pointer;
    /* background-color: var(--primary-violet); */
}

.control-panel-pic:hover::before {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.control-panel-pic:active::before {
    background-color: rgba(217, 221, 236, 0.25);
}

.control-panel-pic svg {
    fill: #ddd;
    width: 2.25rem;
    height: 2.25rem;
    transition: all 0.3s ease, transform 0.15s ease;
    -webkit-transition: all 0.3s ease, transform 0.15s ease;
    -moz-transition: all 0.3s ease, transform 0.15s ease;
    -ms-transition: all 0.3s ease, transform 0.15s ease;
    -o-transition: all 0.3s ease, transform 0.15s ease;
}

.scale-pic path,
.display-pic path {
    fill: #ddd;
}

.control-panel-pic svg:active {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
}

.control-panel-pic:hover svg {
    fill: #fff;
}

/* Volume */

.volume-num-cont {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    width: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.control-panel:hover .volume-num-cont {
    width: 10rem;
}

.volume-num {
    display: flex;
    height: 1.75rem;
    gap: 7px;
    align-items: flex-end;
}

.volume-num .vol-line {
    display: block;
    width: 0px;
    height: 1.55rem;
    border-right: solid 3px #eee;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.volume-num .cur-vol-line {
    height: 1.8rem;
}

.volume-num .prev-vol-line {
    border-color: var(--primary-violet-lighter);
}

.volume-num .next-vol-line {
    border-color: #ccc;
}

/* Full Screen */

.full-screen-pic svg {
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.full-screen-pic path {
    fill: #ddd;
}

/* Metronome */

.metro-pic line, .metro-pic path {
    stroke: #ddd;
}

.metro-num-cont i {
    display: inline-block;
    margin-left: 5px;
    color: var(--primary-violet-lighter);
    text-decoration: 1px underline dotted var(--primary-violet-lighter) !important;
    text-underline-offset: 4px;
    font-style: normal;
    font-size: 0.85rem;
    background-color: #818df83f;
    padding: 3px 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* .metro-opts {
    margin-top: 7.5px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.metro-opt {
    width: auto;
    position: relative;
    padding: 5px 2px;
}

.metro-opt:hover {
    cursor: pointer;
}

.metro-opt::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--primary-violet-lighter);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.metro-opt:hover::before {
    transform-origin: left;
    transform: scaleX(1);
} */

.metro-opt i {
    color: var(--primary-violet-lighter);
}