.display-opts {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 90%;
}

.display-opt {
    appearance: none;
    display: block;
    background-color: var(--primary-violet);
    border: 1px solid var(--primary-violet);
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.display-opt:hover {
    cursor: pointer;
    background-color: var(--primary-violet-darker);
}

.display-opt span {
    font-size: 1rem;
    color: #eee;
}